<div style="
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-supermarket-canned-snacks-at-noon-in-the-supermarket-picture-image_1486780.jpg');
    height: auto;
  ">
    <div class="wrapper">
        <div class="logo"> <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                alt=""> </div>
        <div class="text-center mt-4 name"> Lotus Mart </div>
        <form class="p-3 mt-3" #loginRef="ngForm" (ngSubmit)="checkUser(loginRef.value)" ngNativeValidate>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="number"
                    name="id" placeholder="User Id" autocomplete="off" required ngModel> </div>
            <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password"
                    name="pass" placeholder="password" required ngModel> </div>
            <input [disabled]="(numberlogin >=3)" class="btn mt-3" type="submit" value="Sign In">
            <!-- <button class="btn mt-3">Login</button> -->
        </form>
        <div class="text-center fs-6"> <a type="text">Forget password?</a> or <a type="url" (click)="goTo()">Sign up</a>
        </div>
        <!-- <a routerLink="" class="nav-link">Back</a> -->
        <!-- <button (click) = "goTo()">Sign Up</button> -->
        &nbsp;
        <button *ngIf="showButton" class="btn mt-3" #button routerLink='../user-index/raise-ticket'>Raise
            Ticket</button>
        <br>
        <span>{{resultMsg}}</span>
    </div>
</div>