
<section class="vh-100" style="background-color: #9A616D;">
  <div style="
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-supermarket-canned-snacks-at-noon-in-the-supermarket-picture-image_1486780.jpg');
    height: auto;
  ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="text-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Lotus Mart</h4>
                    </div>
  
                    <h6 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Hello! Sir Please Let Me know who you are ?</h6>
  
                    <div class="pt-1 mb-4">
                      <!-- <button class="btn btn-dark btn-lg btn-block" type="button">Login</button> -->
                      <button class="btn btn-dark btn-lg btn-block" routerLink='shopper' class="btn btn-dark btn-lg" type="button" name="user">User</button>
                      &nbsp;
                      <button class="btn btn-dark btn-lg btn-block" routerLink='employee' class="btn btn-dark btn-lg" type="button" name="employee">Employee</button>
                      &nbsp;
                      <button class="btn btn-dark btn-lg btn-block" routerLink='admin' class="btn btn-dark btn-lg" type="button" name="admin">Admin</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

</section>